<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WhoFund</title>
    <meta charset="utf-8" />
    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- FontAwesome CSS-->
    <script src="https://use.fontawesome.com/5a6689ed05.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      html,
      body {
        height: 100%;
      }
    </style>
  </head>

  <body class="body" style="background-color:#f6f6f6">
    <% include partials/base.ejs %>
    <div class="container-fluid" style="text-align: center;">
      <div style="float:left; width:100%; height:100%;"></div>
      <h1>Welcome to <%=userinfo[0].username%>'s profile!</h1>
      <div style="text-align: center;">
        <% if(currentuser == userinfo[0].username) { %>

        <% } else if(isFollow == true) { %>
        <button class="btn btn-primary" type="button">
          <a
            href="/profile/<%=userinfo[0].username%>/unfollow"
            style="color:white"
            >Unfollow</a
          >
        </button>
        <% } else { %>
        <button class="btn btn-primary" type="button">
          <a
            href="/profile/<%=userinfo[0].username%>/follow"
            style="color:white"
            >Follow</a
          >
        </button>
        <% } %>
      </div>

      <!--Content-->
      <div class="col-8 offset-2">
        <div class="container-fluid">
          <br />

          <ul class="list-group">
            <li class="list-group-item">
              Join date: <%=userinfo[0].joineddate%>
            </li>
            <li class="list-group-item">
              Number of projects liked: <%= likes.length %>
            </li>
            <li class="list-group-item">
              Following <a href="/profile/<%=userinfo[0].username%>/following"><%= following.length%> user(s)</a>
            </li>
            <li class="list-group-item">
              Followed by <a href="/profile/<%=userinfo[0].username%>/followers"><%= followed.length%> user(s)</a>
            </li>
          </ul>
        </div>

        <div style="float:right; width:400px; height:100%;"></div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.4.0/marked.min.js"></script>

    <!-- FontAwesome SVG JS -->
  </body>
</html>
