<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WhoFund</title>
    <meta charset="utf-8" />
    <!-- Bootstrap core CSS -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- FontAwesome CSS-->
    <script src="https://use.fontawesome.com/5a6689ed05.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      html,
      body {
        height: 100%;
      }
      .user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}
    </style>
  </head>

  <body class="body" style="background-color:#f6f6f6">
    <% include partials/base.ejs %>

    <div class="container-fluid" style="text-align: center;">
      <div class="row">
        <div style="float:left; width:100%; height:100%;"></div>

        <!--Content-->
        <div class="col-10 offset-1">
          <div class="container-fluid">
            <h1><%=projInfo[0].projtitle%></h1>

            <% if(owner[0].username == currUser) { %>
              <button class="btn btn-success" data-toggle="collapse" data-target="#demo">Update Project</button>
            </br><div id="demo" class="collapse"></br>
              <form action="/project-update" method="POST">
                <div>
                    <textarea
                      rows="3"
                      cols="60"
                      name="updates"
                      id="updates"
                      aria-describedby="updates"
                      placeholder="Write your updates here..."
                    >
                    </textarea>
                  </div>
                  <input type="submit" value="Submit" /></form></br></br>
              </div>
              <br>
              <button class="btn btn-primary" type="button">
                <a
                  href="/project/<%=projInfo[0].projtitle%>/edit"
                  style="color:white"
                  >Edit Project Details</a
                >
              </button> 

              <button class="btn btn-primary" type="button">
                <a
                  href="/project/<%=projInfo[0].projtitle%>/add-bundle"
                  style="color:white"
                  >Add New Bundle</a
                >
              </button>

              <button class="btn btn-primary" type="button">
                <a
                  href="/project/<%=projInfo[0].projtitle%>/add-milestone"
                  style="color:white"
                  >Add Milestone</a
                >
              </button>
              <br><br>
              <button class="btn btn-danger" type="button">
                  <a
                    href="/project/<%=projInfo[0].projtitle%>/delete"
                    style="color:white"
                    >DELETE PROJECT</a
                  >
                </button>
              <br><br>
              <%}%>
              <div class="row">
                  <div class="col-6">
                      <ul class="list-group">
                          <% var index = 1%> <% updates.forEach((item) => { %>
                          <li
                            class="list-group-item align-items-center"
                          >            <h4>Update #<%=index%></h4>

                            <p></p><%=item.description %></p>
                            <% index += 1 %>
                          </li>
                          <% }); %>
                        </ul>
                        <ul class="list-group">
                            <li class="list-group-item">
                              <h4>Date created: </h4><%=projInfo[0].datecreated%>
                            </li>
                            <li class="list-group-item">
                              <h4>Description: </h4><%=projInfo[0].description%>
                            </li>
                            <li class="list-group-item">
                              <h4>Target Amount: </h4>$<%=projInfo[0].targetamount%>
                            </li>
                            <li class="list-group-item">
                              <h4>Deadline: </h4><%= projInfo[0].deadline%>
                            </li>
                            <li class="list-group-item">
                              <h4>Owned by: </h4><%= owner[0].username%>
                            </li>
                          </ul>
                    </div>
                    <div class="col-6">
    
                <ul class="list-group">
                  <li class="list-group-item">
                    Liked by <%=likers.length%> user(s)
                  </li>
                  <li class="list-group-item">
                    Funded by 
                    <% if(projFunders.length) { %>
                      <%=projFunders.length%> 
                    <% } else { %>
                      0
                    <% } %>
                    
                    user(s)
                  </li>
                  <li class="list-group-item">
                    Current Funded Amount: $<%= totalCurrFunds %>
                  </li>
                  <li class="list-group-item">
                    <% if(targetHit) { %>
                    <a>Target Amount Reached</a>
                    <% } else { %>
                    <a>Target Amount Not Reached Yet</a>
                  </li>
    
                  <br>
                  <h3>Funding rewards:</h3>
                  <% bundles.forEach((item) => { %>
                    <p>Tier <%= item.tier%> Amount: $<%=item.amount%></p>
                    <p>Rewards: <%=item.description%></p>
                    <% if(!targetHit && owner[0].username != currUser && !tierFunding.includes(item.tier) && !pastDeadline) { %>
                    <button class="btn btn-primary" type="button">
                      <a
                        href="/project/<%=projInfo[0].projtitle%>/fund/<%=item.tier%>"
                        style="color:white"
                        >Fund Tier <%=item.tier%> ($<%=item.amount%>)</a
                      >
                    </button>
                    <% } else if(!targetHit && owner[0].username != currUser && !pastDeadline) { %>
                      <button class="btn btn-danger" type="button">
                        <a
                          href="/project/<%=projInfo[0].projtitle%>/unfund/<%=item.tier%>"
                          style="color:white"
                          >Unfund Tier <%=item.tier%> ($<%=item.amount%>)</a
                        >
                      </button>
                    <%}; %>
                    <br><br><br>
                  <% }); %>
                </ul>
                <% } %>
              </div>
              </div>

            <br />

            <h3>Project Milestones:</h3>
            <br />
            <ul class="list-group">
              <% var i = 1%> <% milestones.forEach((item) => { %>

              <li
                class="list-group-item align-items-center"
              >
                <p>Milestone #<%=item.milestoneno %> -- Target Amount: $<%=item.amount%></p>
                <h5>Milestone Rewards: </h5>
                <p><%=item.description%></p>
                <% if(milestoneHitArray.includes(item.milestoneno)) { %>
                  <p>Milestone achieved!</p>
                <% } else { %>
                  <p>Milestone not yet achieved!</p>
                <% } %>

                <% i += 1 %>
              </li>
              <% }); %>
            </ul>
            <br>

            <h3>This project has been funded by:</h3>
            <br />
            <div class="row">
              <div class="col-4 offset-4">            
                <ul class="list-group">
                  <% var index = 1%> <% projFunders.forEach((item) => { %>

                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <a href="/profile/<%=item.username%>"><%=item.username %></a>
                  </li>
                  <% }); %>
                </ul>
              </div>
            </div>


            <% if(isLiked) { %>
            <button class="btn btn-primary" type="button">
              <a
                href="/project/<%=projInfo[0].projtitle%>/unlike"
                style="color:white"
                >Unlike</a
              >
            </button>
            <% } else { %>
            </br>
            <h3>Give this project the support it needs!</h3>
            <button class="btn btn-primary" type="button">
              <a
                href="/project/<%=projInfo[0].projtitle%>/like"
                style="color:white"
                >Like</a
              >
            </button>
            <% } %>
            <br /><br />
          </div>
          <div class="card">
              <div class="card-body">
                  <div class="row">
                      <div class="col-10 offset-1">
                          <% comments.forEach((item) => {%>

                          <p>
                              <a class="float-left" href="/profile/<%=item.username%>"><strong><%=item.username %></strong></a>
                              <%=item.commenttime%> 
                         </p>
                          <p><%=item.description%></p>

                         <%}); %> 
                      </div>
                  </div>
                    
              </div>
          </div>
        </br>
          <% include partials/comments.ejs %>        </br>
        </br>
      </br>

        </div>

      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>

    <!-- FontAwesome SVG JS -->
  </body>
</html>
