<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WhoFund</title>
    <meta charset="utf-8" />
    <!-- Bootstrap core CSS -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- FontAwesome CSS-->
    <script src="https://use.fontawesome.com/5a6689ed05.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      html,
      body {
        height: 100%;
      }
      .user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}
    </style>
  </head>

  <body class="body" style="background-color:#f6f6f6">
    <% include partials/base.ejs %>

    <div class="container-fluid" style="text-align: center;">
      <div class="row">
        <div style="float:left; width:100%; height:100%;"></div>

        <!--Content-->
        <div class="col-10 offset-1">
          <div class="container-fluid">
            <br />
            <h1><%=projInfo[0].projtitle%></h1>
            <% if(owner[0].username == currUser) { %>
              <button data-toggle="collapse" data-target="#demo">Update Project</button>
            </br><div id="demo" class="collapse"></br>
              <form action="/project-update" method="POST">
                <div>
                    <textarea
                      rows="3"
                      cols="60"
                      name="updates"
                      id="updates"
                      aria-describedby="updates"
                      placeholder="Write your updates here..."
                    >
                    </textarea>
                  </div>
                  <input type="submit" value="Submit" /></form></br></br>
              </div>
              <%}%>

              <ul class="list-group">
                  <% var index = 1%> <% updates.forEach((item) => { %>
    
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <p><%=item.description %></p>
                    <span class="badge badge-primary badge-pill"><%=index %></span>
                    <% index += 1 %>
                  </li>
                  <% }); %>
                </ul>

            <ul class="list-group">
              <li class="list-group-item">
                Date created: <%=projInfo[0].datecreated%>
              </li>
              <li class="list-group-item">
                Description: <%=projInfo[0].description%>
              </li>
              <li class="list-group-item">
                Target Amount: $<%=projInfo[0].targetamount%>
              </li>
              <li class="list-group-item">
                Deadline: <%= projInfo[0].deadline%>
              </li>
              <li class="list-group-item">
                Owned by: <%= owner[0].username%>
              </li>
            </ul>
            <br />
            <ul class="list-group">
              <li class="list-group-item">
                Liked by # users
              </li>
              <li class="list-group-item">
                Funded by # users
              </li>
              <li class="list-group-item">
                Current Funded Amount: $<%= totalCurrFunds %>
              </li>
              <li class="list-group-item">
                <% if(targetHit) { %>
                <a>Target Amount Reached</a>
                <% } else { %>
                <a>Target Amount Not Reached Yet</a>
              </li>
            </ul>

            <% } %>
            <br />

            <h3>This project has been funded by:</h3>
            <br />
            <ul class="list-group">
              <% var index = 1%> <% projFunders.forEach((item) => { %>

              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                <a href="/profile/<%=item.username%>"><%=item.username %></a>
                <span class="badge badge-primary badge-pill"><%=index %></span>
                <% index += 1 %>
              </li>
              <% }); %>
            </ul>

            <% if(isLiked) { %>
            <button class="btn btn-primary" type="button">
              <a
                href="/project/<%=projInfo[0].projtitle%>/unlike"
                style="color:white"
                >Unlike</a
              >
            </button>
            <% } else { %>
            </br>
            <h3>Give this project the support it needs!</h3>
            <button class="btn btn-primary" type="button">
              <a
                href="/project/<%=projInfo[0].projtitle%>/like"
                style="color:white"
                >Like</a
              >
            </button>
            <% } %>
            <br /><br />
          </div>
          <div class="card">
              <div class="card-body">
                  <div class="row">
                      <div class="col-10 offset-1">
                          <% comments.forEach((item) => {%>

                          <p>
                              <a class="float-left" href="/profile/<%=item.username%>"><strong><%=item.username %></strong></a>
                              <%=item.commenttime%> 
                         </p>
                          <p><%=item.description%></p>

                         <%}); %> 
                      </div>
                  </div>
                    
              </div>
          </div>
        </br>
          <% include partials/comments.ejs %>        </br>
        </br>
      </br>

        </div>

      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>

    <!-- FontAwesome SVG JS -->
  </body>
</html>
